.profil-menu-popover {
    border: 1px solid #e8e8e8;
    width: 225px;
    right: 0px;
    position: absolute;
    text-align: left;

    .ant-divider-horizontal {
        margin: 0px !important;
    }
}